<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="FileRepositoryService"
				address="net.tcp://localhost:5000"
				binding="netTcpBinding"
				contract="FileServer.Services.IFileRepositoryService"
				bindingConfiguration="customTcpBinding" />
      <endpoint name="VideoStreamingService"
				address="net.tcp://localhost:5001"
				binding="netTcpBinding"
				contract="MessengerService.IVideoStreamingService"
				bindingConfiguration="customTcpBinding" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" receiveTimeout="00:10:00" transferMode="Streamed"
                maxBufferSize="999999999"
          maxReceivedMessageSize="999999999999999999">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647"/>
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>

      </netTcpBinding>

    </bindings>
  </system.serviceModel>
</configuration>