<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="FileServer.Services.FileRepositoryService">
        <endpoint address="net.tcp://localhost:5000" binding="netTcpBinding"
          bindingConfiguration="customTcpBinding" name="" contract="FileServer.Services.IFileRepositoryService" />
        <host>
          <timeouts closeTimeout="00:01:10" />
        </host>
      </service>
      <service name="MessengerService.VideoStreamingService">
        <endpoint address="net.tcp://localhost:5001" binding="netTcpBinding"
          bindingConfiguration="customTcpBinding" name="" contract="MessengerService.IVideoStreamingService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" receiveTimeout="00:10:00" transferMode="Streamed"
                maxBufferSize="999999999"
          maxReceivedMessageSize="999999999999999999">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647"/>
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>

      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>